:root {
  --st-patricks-blue: hsl(236, 57%, 28%);
  --amaranth-purple: hsl(335, 88%, 38%);
  --royal-blue-dark: hsl(231, 68%, 21%);
  --chrome-yellow: hsl(39, 100%, 52%);
  --space-cadet-1: hsl(230, 41%, 25%);
  --space-cadet-2: hsl(230, 59%, 16%);
  --winter-sky_50: hsla(335, 87%, 53%, 0.5);
  --purple-navy: hsl(236, 26%, 43%);
  --ksu-purple: hsl(275, 54%, 33%);
  --winter-sky: hsl(335, 87%, 53%);
  --razzmatazz: hsl(335, 87%, 51%);
  --platinum: hsl(0, 0%, 90%);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --rajah: hsl(29, 99%, 67%);
  --white: hsl(0, 0%, 100%);

  --gradient-1: linear-gradient(90deg,var(--royal-blue-dark) 0,var(--ksu-purple) 51%,var(--royal-blue-dark));
  --gradient-2: linear-gradient(90deg,var(--razzmatazz) ,var(--rajah));

  --ff-source-sans-pro: 'Times New Roman', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.8rem;
  --fs-3: 3.2rem;
  --fs-4: 2.5rem;
  --fs-5: 2.4rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --radius-4: 4px;
  --radius-12: 12px;

  --section-padding: 60px;

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);

}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; }
a,
img,
span,
input,
button,
ion-icon { display: block; }
button,
input {
  background: none;
  border: none;
  font: inherit;
}
.btn a{
  color: white;
}

button { cursor: pointer; }
input { width: 100%; }
ion-icon { pointer-events: none; }
img { height: auto; }
address { font-style: normal; }
html {
  font-family: var(--ff-poppins);
  font-size: 11px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  color: var(--purple-navy);
  font-size: 1.6rem;
}
::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

.container { 
  padding-inline: 15px; 
}
.h2,
.h3 { font-family: var(--ff-source-sans-pro); }
.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  color: var(--white);
  padding: 12px 35px;
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  border-radius: 0 25px;
  transition: var(--transition-2);
}
.btn:is(:hover, :focus) { background-position: right; }
.w-100 { width: 100%; }
.banner-animation { animation: waveAnim 2s linear infinite alternate; }
@keyframes waveAnim {
  0% { transform: translate(0, 0) rotate(0); }
  100% { transform: translate(2px, 2px) rotate(1deg); }
}
.section { padding-block: var(--section-padding); }
.section-title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-3);
  margin-block-end: 60px;
  max-width: max-content;
  margin-inline: auto;
}
.underline { position: relative; }
.underline::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 6px;
  background-image: var(--gradient-2);
  border-radius: 10px;
}
:is(.service-card, .features-card) .title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
}
:is(.service-card, .features-card, .blog-card) .text { font-size: var(--fs-8); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.header .btn { display: none; }
.header {
  --color: var(--white);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);
}
.header.active {
  --color: var(--st-patricks-blue);

  position: fixed;
  background-color: var(--white);
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.logo {
  color: var(--color);
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-3);
}
.nav-open-btn {
  color: var(--color);
  font-size: 32px;
  padding: 4px;
}
.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}
.navbar.active {
  transform: translateX(280px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px 30px;
}
.navbar-top .logo {
  color: var(--st-patricks-blue);
  font-size: 4.2rem;
  font-weight: var(--fw-700);
}
.nav-close-btn {
  color: var(--space-cadet-1);
  font-size: 2.8rem;
  padding: 4px;
}
.navbar-item:not(:last-child) { border-bottom: 1px solid var(--platinum); }
.navbar-link {
  color: var(--space-cadet-1);
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  padding-block: 12px;
}
.navbar-link:hover {
  color: var(--razzmatazz);
  transition: 0.6s;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_70);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}



.hero {
  background-image: url("../images/hero-bg-bottom1\ \(2\).png"),
                    var(--gradient-1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -140px bottom, center, center;
  background-size: 140%, cover, auto;
  padding-block-start: 60px;
  padding-block-end: var(--section-padding);
}
.hero-content { margin-block-end: 50px; }
.hero-subtitle {
  color: var(--chrome-yellow);
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-7);
  margin-block-end: 15px;
}
.hero-banner{
  margin-left: 40px;
}
.hero-title {
  color: var(--white);
  font-size: var(--fs-1);
  margin-block-end: 20px;
}
.hero-text {
  color: var(--white);
  font-size: var(--fs-8);
  margin-block-end: 30px;
}
.hero-title span{
  color: var(--razzmatazz);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#section10 { background: url(https://picsum.photos/1200/800?image=516) center center / cover no-repeat;}
.demo a {
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/**
 * Für agb.html & datenschutz.html
 */
#homes {
  background-image: none;
}
#agb{
  color: var(--st-patricks-blue);
}
#agb:hover{
  color: var(--razzmatazz);
  transition: 0.6s;
}
.agb-content h2{
  text-align: center;
}
.agb-text{
  gap: 12px;
  display: grid;
  width: 60%;
  margin-left: 22%;
}
.agb-titel{
  color: var(--royal-blue-dark);
  font-weight: var(--fw-700);
  padding-top: 30px;
}
.agb-text{
  padding-top: 10px;
}


.service-list {
  display: grid;
  gap: 30px;
}
.service-card {
  padding: 30px;
  box-shadow: var(--shadow);
  border-radius: var(--radius-12);
  transition: 0.6s;
}
.service-card .card-icon {
  background-image: url("../images/service-banner-pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsla(335, 87%, 53%, 0.12);
  aspect-ratio: 1 / 1;
  max-width: 165px;
  display: grid;
  place-content: center;
  margin-inline: auto;
}
#special:hover{
  scale: 1.13;
  background-color: hsla(335, 87%, 53%, 0.12);
}
#special:hover .card-icon{
  background-image: none;
  background-color: hsla(335, 87%, 53%, 0);
  transition: 0.000002s;
}
#special .card-icon{
  transition: 0.000002s;
}
.service-card .card-icon ion-icon {
  font-size: 5rem;
  color: var(--winter-sky);
  --ionicon-stroke-width: 20px;
  transition: var(--transition-1);
}
.service-card .title {
  text-align: center;
  margin-block-end: 15px;
}
.service-card .text {
  text-align: center;
  margin-block-end: 20px;
}
.service-card .card-btn {
  margin-inline: auto;
  padding: 15px;
  border: 1px solid var(--winter-sky);
  border-radius: 50%;
  color: var(--winter-sky);
  transition: var(--transition-1);
}
.service-card .card-btn:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--winter-sky);
}
#services h2{
  margin-top: 30px;
}



.about-banner { 
  margin-block-end: 20px; 
  margin-top: 150px;
}
.about .section-title { margin-inline: 0; }
.about .underline::before {
  left: 0;
  transform: translateX(0);
}
.about-text {
  font-size: var(--fs-8);
  margin-block-end: 20px;
}
.stats-list {
  display: grid;
  gap: 30px;
  display: none;
}
.stats-card {
  text-align: center;
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: var(--radius-12);
}
.stats-title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
}
.stats-text { 
  font-size: var(--fs-8); 
}
#about{
  margin-top: 10px;
}
.about-content{
  margin-top: 150px;
}


#features h2{
  margin-top: 70px;
}
.features-list > li:first-child { 
  margin-block-end: 30px; 
}
.features-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.features-card .icon {
  background-image: var(--gradient-1);
  background-size: 160%;
  color: var(--white);
  min-width: max-content;
  max-width: max-content;
  font-size: 34px;
  padding: 20px;
  border-radius: 50%;
}
.features-card .icon ion-icon {
  --ionicon-stroke-width: 20px; 
}
.features-card .title { 
  margin-block-end: 10px;
}
.features-banner { 
  margin-block: 40px; 
}
.features-banner > img {
  max-width: max-content;
  margin-inline: auto;
}



.contact{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}
.contact-heading{
  text-align: center;
  margin: 40px 0px;
  margin-bottom: 80px;
}
.contact-heading h1{
  font-size: 2.2rem;
  
}
.contact form{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact form input,.contact form textarea{
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  padding: 10px;
  background-color: #eaeaea;
  color: #1e1e1e;
  border-radius: 5px;
}
.contact form textarea{
  height: 150px;
}
.contact-btn{
  margin-top: 40px;
}
#contact h2{
  margin-top: 30px;
}
#contact p span{
  color: var(--rajah);
}
/**
 * Für Contact.html
 */
 #contacts h2{
  margin-top: 30px;
  color: white;
}
#contacts p{
  color: white;
}
#contacts p span{
  color: var(--rajah);
}


.footer { font-size: var(--fs-8); }
.footer a { color: inherit; }
.footer-top {
  background-image: url("../images/footer-bg.png"), var(--gradient-1);
  background-repeat: no-repeat;
  background-size: auto, 200%;
  background-position: center, center;
  color: var(--white);
}
.footer-brand { margin-block-end: 30px; }
.footer-brand .logo {
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}
.footer-brand .text {
  font-size: var(--fs-8);
  margin-block-end: 20px;
}
.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer-top .social-link {
  background-color: var(--white);
  color: var(--winter-sky);
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
}
.footer-top .social-link:is(:hover, :focus) {
  background-image: var(--gradient-2);
  color: var(--white);
}
.footer-list:not(:last-child) { margin-block-end: 25px; }
.footer-list-title {
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}
.footer-link { padding-block: 5px; }
:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) { text-decoration: underline; }
.footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-block: 10px;
}
.footer-item-icon {
  background-image: var(--gradient-2);
  padding: 13px;
  border-radius: 50%;
}
.footer-bottom {
  background-color: var(--space-cadet-2);
  padding: 20px;
  text-align: center;
  color: var(--white);
}
.copyright-link {
  display: inline-block;
  text-decoration: underline;
}
.copyright-link:is(:hover, :focus) { text-decoration: none; }


.go-top {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: var(--winter-sky);
  color: var(--white);
  font-size: 2rem;
  padding: 14px;
  border-radius: var(--radius-4);
  box-shadow: -3px 3px 15px var(--winter-sky_50);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
}
.go-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-15px);
}



/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .section-title { --fs-3: 3.6rem; }



  /**
   * HEADER
   */

  .header .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-inline-start: auto;
  }



  /**
   * ABOUT
   */

  .stats-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * BLOG
   */

  .blog-card {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 20px;
    padding: 30px;
  }

  .blog-card .banner { margin-block-end: 0; }

  .blog-card .banner a { height: 100%; }



  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:not(:last-child) { margin-block-end: 0; }

  .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
  }

}
/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }



  /**
   * HERO
   */

  .hero {
    min-height: 600px;
    display: grid;
    place-items: center;
  }

  .hero-content { margin-block-end: 0; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }



  /**
   * SERVICE
   */

  .service-list { grid-template-columns: 1fr 1fr; }



  /**
   * FEATURES
   */

  .features-list > li:first-child { margin-block-end: 0; }

  .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: repeat(3, 1fr); }

}
/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .header { padding-block: 20px; }

  .overlay,
  .nav-open-btn,
  .navbar-top { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
  }

  .header .btn { margin-inline-start: 0; }

  .navbar-list {
    display: flex;
    gap: 25px;
  }

  .navbar-item:not(:last-child) { border-bottom: none; }

  .navbar-link { color: var(--color); }



  /**
   * HERO
   */

  .hero { min-height: 700px; }



  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }



  /**
   * SERVICE
   */

  .service-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FEATURES
   */

  .features-list { grid-template-columns: 1fr; }

  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .features .section-title { grid-column: 1 / 4; }

  .features-banner {
    margin-block: 0;
    display: grid;
    place-items: center;
  }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: repeat(4, 1fr); }

  .footer-brand { grid-column: 1 / 5; }

  .footer-brand .text { max-width: 45ch; }

}
/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

  .section-title { --fs-3: 4.6rem; }



  /**
   * HERO
   */

  .hero { min-height: 800px; }



  /**
   * BLOG
   */

  .blog-list { grid-template-columns: 1fr 1fr; }

  .blog-card { height: 100%; }

  .blog-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 0.5fr 0.7fr 0.5fr 1fr; }

  .footer-brand { grid-column: auto; }

}

@media (min-height: 900px) {
  .demo a {
    bottom: 220px;
  }
}